.container {
	display: flex;
  flex-direction: column;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.right, .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.columns {
  display: flex;
  flex-direction: column;
}

.cancelButton, .confirmButton {
  background-color: #20232a !important;
  color: white !important;
  border-radius: 20px !important;
}

.input {
  width: 100%;
}

.containerField {
  width: 50%;
}

.containerButton {
  display: flex;
  justify-content: space-between;
  width: 50%;
}