.container {
	display: flex;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.columns {
  display: flex;
  flex-direction: column;
}

.cancelButton, .confirmButton {
  background-color: #20232a !important;
  color: white !important;
  border-radius: 20px !important;
}