.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tittle {
    text-align: center;
    background-color: #17a2b8;
    color: #fff;
    width: 100%;
}
.logged {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: #1991a3;
}
.buttonSession{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    height: 50px;
}
.options {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 50px;
    padding: 15px;
}
.homeMenu {
    display: flex;
    align-items: center;
    margin-left: 15px;
    height: 50px;
}
.productMenu{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    height: 50px;
}
.categorieMenu {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    height: 50px;
}
.basketMenu {
    display: flex;
    align-items: center;
    margin-left: 15px;
    height: 50px;
}
.registerMenu {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
}
.loginMenu {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
}
.productMenu:hover {
    background-color: rgb(26, 151, 235);
}
#login2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
}
.basket {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    background-color: #17a2b8;
    color: #fff;
    font-size: 0.930125rem;
    border-color: #bee5eb;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 0 solid transparent;
    border-radius: 0.25rem;
}
.buttonmenu { 
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
}
a { 
    text-decoration: none;
    color: #fff;
}
.col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
}
.adminsession {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.col-md-4 {
   flex: 0 0 33.3333333333%;
   max-width: 33.3333333333%;
}
.menu {
    display: flex;
    flex-direction: row;
}
.row {
    margin-top: 5px;
}