.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.col-md-8{
    display: flex;
    flex-direction: row;
    width: 80%;
}
.col-md-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}
.class-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #a31919;
    border-radius: 10px;
    width: 80%;
    height: 100px;
}
.title-add {
    text-align: center;
    font-size: 15px;
}
.btn-add {
    display: flex;
    justify-content: center;
    border: 2px solid #a31919;
    border-radius: 5px;
    width: 50%;
    height: 30px;
    background-color: #fff;
    color:#a31919 ;
    cursor: pointer;
}
.btn-add:hover {
    background-color: #860202;
    color: #fff;
}
