.row-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 241, 229);
    width: 100%;
    height: 500px;
}
.tittle-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.accordion-name-lastName {
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.accordion-email-password {
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 50px;
}
.style-accordion {
    width: 60% !important;
}
.option-name-lastName {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px;
}
.name-textField {
    margin: 5px !important;
}
.lastName-textField {
    margin: 5px !important;
}
.email-textField {
    width: 400px !important;
}
.personal-data {
    font-size: 20px;
    margin:0px;
}
.account-data {
    font-size: 20px;
    margin: 0px;
}
.password-accordion {
    display: flex;
    flex-direction: column;
}
.option-button-password {
    display: flex;
    justify-content: flex-end;
    width: 600px;
}