.modal-container{
    position: fixed;
    background-color: #000;
    opacity: 0.5;
    min-height: 100vh;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    width: 50%;
    margin-left: 25%;
}

.btn-modal {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    width: 90px;
    height: 30px;
    margin: 5px;
}