.rowProduct {
  display: flex;
  flex-direction: row;
  width:100%;
  height: 500px;
  background-color: #f5f5f5;
  flex: 1;
}

.filterProduct{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 15%;
}

.containerProduct{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  margin-top: 20px;
}

.btnForm {
  margin-top: 10px;
}

.container {
  display: flex;
  width: 100%;
}

.filter {
  width: 15%;
  display: flex;
  justify-content: center;
}

.containerFilter {
  display: flex;
  width: 80%;
  justify-content: center;
  margin-top: 20px;
}

.product {
  width: 100%;
}