.containerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
	background-color: white;
  flex: 1;
}

.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.left {
  display: flex;
  flex-direction: column;
}

.name, .lastName, .dni, .email, .clientDates, .title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  color: black;
}

.title, .payment {
  margin-top: 50px;
}

