.container {
	display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 4px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.price, .date, .status {
  font-size: 20px;
}

.containerButton {
  display: flex;
}

.detailButton {
  margin: 5px !important;
}